<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header> 

        <!-- Górny panel -->
        <div>
            <img src="" alt="LOGI">
            <b>ALPINE</b>
        </div>
<!-- panel nawigacyjny -->
        <nav>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>

        </nav>
        <!-- Hamburger -->
        
        <div class="haburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        

    </header>

    
</body>
</html>